# Question 1 Consider the following Python module:

In [1]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [2]:
b()

In [3]:
a

2

**Explanation**

**When the last expression a is evaluated after executing the code b(), it will display the value 2.**

**Here's a step-by-step explanation of what happens in each statement when the code is executed:**

1. a = 0 - this statement assigns the integer value 0 to the variable a.
2. def b(): - this statement starts the definition of a function named b.
3. global a - this statement declares that the a variable inside the function b refers to the global variable a defined outside the function.
4. a = c(a) - this statement calls the function c with the current value of a as an argument, then assigns the result of the function call to a.
5. def c(a): - this statement starts the definition of a function named c that takes one argument a.
6. return a + 2 - this statement returns the value of a plus 2.
7. b() - this statement calls the function b, which calls c with the value of a (which is 0), adds 2 to it, and assigns the    
   result (2) back to a.
8. a - this statement evaluates the value of the variable a, which is now 2.
 So, when the last expression a is evaluated after calling the function b(), it displays the value 2.

# Question 2 - Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

In [8]:
def fileLength(filename):
    try:
        with open(filename, 'r') as file:
            contents = file.read()
            length = len(contents)
            return length
    except FileNotFoundError:
        print(f"Error2:  No such file or directory {filename}.")

In [18]:
fileLength('midterm.py')

358

In [12]:
fileLength('idterm.py')

Error2:  No such file or directory idterm.py.

# Question 3 Write a class named Marsupial that can be used as shown below:

In [19]:
class Marsupial:
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
    
    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [20]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [21]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [22]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [23]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4

**Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.**

In [24]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x//2)
    else:
        collatz(3*x + 1)

In [25]:
collatz(1)

1

In [26]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

**Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.**

In [28]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end='')

In [29]:
binary(0)

0

In [30]:
binary(1)

1

In [31]:
binary(3)

11

In [32]:
binary(9)

1001

# Question 6

**Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.**

In [106]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indent = 0
        self.in_title = False
    
    def handle_starttag(self, tag, attrs):
        if tag == 'title':
            self.in_title = True
        elif tag.startswith('h') and not self.in_title:
            try:
                self.indent = int(tag[1:]) - 1
            except ValueError:
                pass
    
    def handle_endtag(self, tag):
        if tag == 'title':
            self.in_title = False
        elif tag.startswith('h') and not self.in_title:
            self.indent = 0
    
    def handle_data(self, data):
        if self.in_title:
            return
        if self.indent > 0:
            print(' ' * (self.indent * 2), end='')
        print(data.strip())

In [107]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission

  Principles

# Question 7

In [84]:
from urllib.request import urlopen
from urllib.parse import urljoin
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    print(' '*indent + url)
    if depth == 0:
        return
    try:
        page = urlopen(url)
    except:
        return
    soup = BeautifulSoup(page, 'html.parser')
    links = soup.findAll('a')
    for link in links:
        href = link.get('href')
        if href.startswith('http'):
            webdir(href, depth-1, indent+4)
        else:
            webdir(urljoin(url, href), depth-1, indent+4)

In [85]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# Question 8

**Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.**

City Country Season Temperature(C)Rainfall(mm)
Mumbai India Winter 24.8 5.9
Mumbai India Spring 28.4 16.2
Mumbai India Summer 27.9 1549.4
Mumbai India Fall 27.6 346.0
London United Kingdom Winter 4.2 207.7
London United Kingdom Spring 8.3 169.6
London United Kingdom Summer 15.7 157.0
London United Kingdom Fall 10.4 218.5
Cairo Egypt Winter 13.6 16.5
Cairo Egypt Spring 20.7 6.5
Cairo Egypt Summer 27.7 0.1
Cairo Egypt Fall 22.2 4.5

*SQL Query:*

In [ ]:
a) SELECT Temperature FROM table_name;

b) SELECT DISTINCT City FROM table_name;

c) SELECT * FROM table_name WHERE Country='India';

d) SELECT * FROM table_name WHERE Season='Fall';

e) SELECT City, Country, Season FROM table_name WHERE Rainfall BETWEEN 200 AND 400;

f) SELECT City, Country FROM table_name WHERE Season='Fall' AND Temperature > 20 ORDER BY Temperature ASC;

g) SELECT SUM(Rainfall) AS "Total Rainfall" FROM table_name WHERE City='Cairo';

h) SELECT Season, SUM(Rainfall) AS "Total Rainfall" FROM table_name GROUP BY Season;

# Question 9

** Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)**

**Solution**

In [58]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

In [60]:
#a) list comprehension to generate list of words in uppercase:
uppercase_words = [word.upper() for word in words]
uppercase_words

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [61]:
#b) list comprehension to generate list of words in lowercase:
lowercase_words = [word.lower() for word in words]
lowercase_words

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [62]:
#c) list comprehension to generate list of lengths of words:
lengths = [len(word) for word in words]
lengths

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [63]:
#d) list comprehension to generate a list of lists containing uppercase, lowercase and length of words:
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
word_info

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [64]:
#e) list comprehension to generate list of words containing 4 or more characters:
long_words = [word for word in words if len(word) >= 4]
long_words

['quick', 'brown', 'jumps', 'over', 'lazy']